# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Android Studio
*.iml
.idea/
local.properties
captures/
.externalNativeBuild/
.cxx/

# Kotlin
*.class

# OS
.DS_Store
Thumbs.db

# APKs
*.apk
*.ap_
*.aab

# Release keystore
*.jks
*.keystore
